// Menu lateral
.sidebar {
    position: absolute;
    top: 70px; // Começa logo abaixo do cabeçalho
    left: 0;
    width: 250px;
    height: calc(100vh - 70px); // Preenche a altura da janela, menos o cabeçalho
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #ddd;
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
  
      li {
        margin-bottom: 15px;
  
        a {
          text-decoration: none;
          color: #333;
  
          &:hover {
            color: #007bff;
          }
        }
      }
    }
  }
  
  // Conteúdo principal
  .main-content {
    margin-left: 250px; // Empurra o conteúdo ao lado do menu
    padding: 20px;
  }
  